<div class="row">
  <div class="col-md-8">
  <h3>Pending IP's</h3>

  <%= @user.email %> <br>
  <head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
  <ol class="ip_assets">
  <% @ownership.each do |ownership| %>

  <% if ownership.ip_asset.status == 0 %>
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Filename</th>
      <th>Download</th>
      <th>percentage</th>


      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= ownership.ip_asset.title %></td>
        <td><%= ownership.ip_asset.description %></td>
        <td><%= ownership.ip_asset.filename %></td>
        <td><%= link_to "Download File", ownership.ip_asset.attachment_url %></td>
        <td><%= ownership.percentage %></td>


      </tr>
  </tbody>
</table>
     
  <% end %>
  <% end %>
  </ol>
  </div>
</div>
