<div class="row">
  <div class="col-md-8">
  <h3>Review IP's</h3>
  <%= @user.email %> <br>
  <%= @user.id %> <br>
  <head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
  <ol class="ip_assets">
  <% @ownership.each do |ownership| %>
  <% if ownership.ip_asset.status == 2 %>
     <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Filename</th>
      <th>Download</th>
      <th>percentage</th>
      <th>Edit</th>

      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= ownership.ip_asset.title %></td>
        <td><%= ownership.ip_asset.description %></td>
        <td><%= ownership.ip_asset.filename %></td>
        <td><%= link_to "Download File", ownership.ip_asset.attachment_url %></td>
        <td><%= ownership.percentage %></td>
        <td><%= link_to 'Edit', edit_ip_asset_path(ownership.ip_asset) %></td>
         <td><%= link_to "resubmit", {:controller => "ip_assets", :action => "resubmit", :my_ip => ownership.ip_asset }%></td>

      </tr>
  </tbody>
</table>
     
  <% end %>
  <% end %>
  </ol>
  </div>
</div>